<!DOCTYPE html>
<html>
<head>
    <title>Student Details Form</title>
</head>
<body>
    <h2>Student Details Form</h2>
    <form action="/basic_details" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="roll">Roll Number:</label>
        <input type="text" id="roll" name="roll" required><br><br>

        <label for="department">Department:</label>
        <input type="text" id="department" name="department" required><br><br>

        <label>Program:</label><br>
            <input type="radio" id="ug" name="program" value="UG" required>
            <label for="ug">UG (Undergraduate)</label><br>
            <input type="radio" id="pg" name="program" value="PG" required>
            <label for="pg">PG (Postgraduate)</label><br>
            <input type="radio" id="phd" name="program" value="Ph.D" required>
            <label for="phd">Ph.D</label><br><br>

        <label for="year">Year:</label>
            <input type="number" id="year" name="year" required min="1" max="7"><br><br>


        <input type="submit" value="Submit">
    </form>
</body>
</html>
