<!DOCTYPE html>
<html>
<head>
    <title>Educational Details Form</title>
</head>
<body>
    <h2>Educational Details Form</h2>
    <form action="/edu_details" method="post">
        <fieldset>
            <legend>High School (10th)</legend>
            <label for="highschool_name">School Name:</label>
            <input type="text" id="highschool_name" name="highschool_name" required><br><br>

            <label for="highschool_start_year">Year of Start:</label>
            <input type="number" id="highschool_start_year" name="highschool_start_year" required><br><br>

            <label for="highschool_finish_year">Year of Finish:</label>
            <input type="number" id="highschool_finish_year" name="highschool_finish_year" required><br><br>

            <label for="highschool_percentage">Percentage/CGPA:</label>
            <input type="text" id="highschool_percentage" name="highschool_percentage" required><br><br>
        </fieldset>

        <fieldset>
            <legend>Senior Secondary</legend>
            <label for="seniorsecondary_name">School Name:</label>
            <input type="text" id="seniorsecondary_name" name="seniorsecondary_name" required><br><br>

            <label for="seniorsecondary_start_year">Year of Start:</label>
            <input type="number" id="seniorsecondary_start_year" name="seniorsecondary_start_year" required><br><br>

            <label for="seniorsecondary_finish_year">Year of Finish:</label>
            <input type="number" id="seniorsecondary_finish_year" name="seniorsecondary_finish_year" required><br><br>

            <label for="seniorsecondary_percentage">Percentage/CGPA:</label>
            <input type="text" id="seniorsecondary_percentage" name="seniorsecondary_percentage" required><br><br>
        </fieldset>

        <fieldset>
            <legend>Higher Education</legend>
            <label for="higher_education_name">College/University Name:</label>
            <input type="text" id="higher_education_name" name="higher_education_name"><br><br>

            <label for="higher_education_program">Program:</label>
            <input type="text" id="higher_education_program" name="higher_education_program"><br><br>

            <label for="higher_education_start_year">Year of Start:</label>
            <input type="number" id="higher_education_start_year" name="higher_education_start_year"><br><br>

            <label for="higher_education_finish_year">Year of Finish (or still pursuing):</label>
            <input type="number" id="higher_education_finish_year" name="higher_education_finish_year"><br><br>

            <label for="higher_education_department">Department:</label>
            <input type="text" id="higher_education_department" name="higher_education_department"><br><br>

            <label for="higher_education_percentage">Percentage/CGPA:</label>
            <input type="text" id="higher_education_percentage" name="higher_education_percentage"><br><br>
            
        </fieldset>

        <input type="submit" value="Next">
    </form>
</body>
</html>
