<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <header>
        <h1>Login</h1>
    </header>
            
    <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password"  id="password" name="password" required><br><br>

        <input type="submit" value="Login">
        <ul>
            <li><a href="/register" >Register</a></li>
        </ul>
    </form>
    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
</body>
</html>
